body{
    background-color:  #e9ecef;
}
.jumbotron{
    /* background-color: wheat; */
    background-repeat: no-repeat;
    }
.heading{
    text-align: center;
    text-decoration-line: underline;
}
