.jumbotron{
    background-image: url("./images/1200px-Flag_of_Ghana.svg.png")
}
.heading{
    text-align: center;
    text-decoration-line: underline;
    
}
.head{
    text-align: center;
    font-style: italic;
}
.col-6{
    border: 1px dotted green;
}