.jumbotron{
    background-image: url("./images/1200px-Flag_of_Ghana.svg.png")
}
.heading{
    text-align: center;
    text-decoration-line: underline;
}
/* .row{
    color: blue;
} */
.col-6{
    border: 1px dotted green;
}